<!DOCTYPE html>
<html>
<head>
    <title>Smart Attendance Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS LINK -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav class="navbar">
    <div class="nav-brand">
        <span class="logo-circle">SA</span>
        <span>Smart Attendance Web</span>
    </div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/teacher-login">Teacher</a>
        <a href="/student-login">Student</a>
        <a href="/admin-login">Admin</a>
        <a href="/logout">Logout</a>
    </div>
</nav>

<div class="page-wrapper">
    {% block content %}{% endblock %}
</div>

</body>
</html>