{% extends "base.html" %}

{% block content %}
<div class="hero-official single-hero">
    <div class="hero-left">
        <p class="tagline">SMART ATTENDANCE PLATFORM</p>

        <h1>Smart Attendance System</h1>

        <p class="official-subtitle">
            A secure and reliable digital attendance system for academic institutions.
        </p>

        <div class="hero-buttons">
            <a class="btn primary-btn" href="/teacher-login">Teacher Login</a>
            <a class="btn secondary-btn" href="/student-login">Student Login</a>
            <a class="btn admin-btn" href="/admin-login">Admin Login</a>
        </div>
    </div>
</div>
{% endblock %}