{% extends "base.html" %}

{% block content %}
<div class="login-page">
    <div class="login-left">
        <p class="tagline">STUDENT ACCESS</p>
        <h1>Student Login</h1>
        <p>
            Join active class sessions, complete face verification and view your subject-wise attendance record.
        </p>

        <a class="btn secondary-btn" href="/">Back to Home</a>
    </div>

    <div class="login-card">
        <div class="login-icon student-icon">S</div>

        <h2>Welcome Student</h2>
        <p class="muted-text">Enter your roll number and password.</p>

        {% if error %}
            <div class="error-box">{{ error }}</div>
        {% endif %}

        <form method="post">
            <div class="form-group">
                <label>Roll Number / College ID</label>
                <input type="text" name="roll_no" placeholder="Example: 23BCON2214" required>
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" placeholder="Enter Password" required>
            </div>

            <button class="btn primary-btn login-btn" type="submit">Login as Student</button>
        </form>

        <p class="login-help">Default: 23BCON2214 / 1234</p>
    </div>
</div>
{% endblock %}